In [28]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/MACHINE-LEARNING-TUTORIAL/5a768f2a515639782f87878e54525ebbf328a74b/Datasets/insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.to_csv('insurance.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
data.shape

(1338, 7)

In [7]:
data.isnull().sum()  #data is clear

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
data.isnull().sum().sum()

0

In [9]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [10]:
data.sex.value_counts()

male      676
female    662
Name: sex, dtype: int64

In [11]:
data.children.value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [18]:
data.smoker.value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [19]:
data.region.value_counts()

southeast    364
northwest    325
southwest    325
northeast    324
Name: region, dtype: int64

In [20]:
data['sex'] = data['sex'].astype('category')
data['smoker'] = data['smoker'].astype('category')
data['region'] = data['region'].astype('category')

In [27]:
smoke_data = data.groupby('smoker').mean().round(2)
smoke_data

#burda sigara icenler daha cok masraf cikarmislar

          age    bmi  children   charges
smoker
no      39.39  30.65      1.09   8434.27
yes     38.51  30.71      1.11  32050.23

In [23]:
smoke_data = data.groupby('smoker').sum().round(2).charges
smoke_data

smoker
no     8974061.47
yes    8781763.52
Name: charges, dtype: float64

In [30]:
sns.barplot('smoker', 'charges')

ValueError: Could not interpret input 'smoker'