### Genel bilgiler

In [ ]:
#eger bizim Targetlerimiz sayisal veri oldugu icin, Linear regression modeli kullanmak daha verimli olur

In [ ]:
#input yani Features ler bagimsiz degiskenlerdir,
#Output yani Target bagimli degiskenlerdir, cünkü bunlar cikti oldugu icin, inputlaradan etkileniyorlar

In [ ]:
#makina ögrenmesi algoritmalarina Estimator(Estimeetıır) denir

In [ ]:
# toarray returns an ndarray; 
# todense returns a matrix. 
#If you want a matrix, use todense; otherwise, use toarray.

hiperparametrelerle ilgili bilgi

In [ ]:
#kullanaagimiz model sinifina karar verdikten sonra ,bazi parametreleri kendimiz belirleyebiliriz
#belirleyecegimiz parametrelere hiper parametre denir 
#örnegin model kurarken sabit olacak mi,model normallestirilecek mi,
#modelde kullanmak istedigin regülerlestirme seviyesi nekadar olacak
#bu gibi sorulari cevaplamak icin hiper parametreleri kulanabiliriz
#model kurulmadan önce hiper parametreler belirlenir
#hiper parametreler ön tanimli parametrelerin üzerine yazilir
#hiper parametreleri yazmazsak, default parametreler gecerli olur
#örnegin LinearRegressionda  Linearregression sinifini örnekleyelim
#bunun icin model isminde bir degisken alalim ve LinearRegression sinifini yazalim

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd

data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)
df.head()


#iris veri setini cagirma syntaxi

iris_df = pd.DataFrame(X_train, columns = iris.feature_names)
#tirendaz da bu sekilde features isimleriyle cagirdi

### oyuncak veri olusturma

In [ ]:
rng = np.random.RandomState(42)
x = 10*rng.rand(50)

#rand ,rastgele degerler verirken uniform yani tekdüze düzenli degerler verir,dagilimi düz olur,tepe olmaz
#model islemlerini göstermek icin basit dogrusal regresyonu kullanalim
#öncelikle matplotlib ve numpyi import edelim
# veriyi sabitlemek icin numpy daki random_state methodunu kullanaliim 

#simdide x degiskenini olusturalim
#x = 10 carpi rng.rand(50) icine 50 tane deger alacagimizi belirtmek icin 50 yazdim
#daha sonra y = 2*x eksi 1 arti rng nokta randn yazip icine 50 deger alacagimizi belirtmek icin 50 yazdik 
#simdide iki degiskenin scatter grafigini cizelim



y = 2*x-1+rng.randn(50)   

#bu 2x -1 demek daliba oluturdugumuz xleri kullanarak farkli deger olusturmak icin
#randn rastgele degerler verirken normal dagilim yapan degerler veriyor

In [ ]:
x_fit = np.linspace(0,11)
x_fit

#bunun icin predict methodu kullanilir
#bu methodu göstermek icin öncelikle   x eksenini -1 ile 11 arasinda 50 parcaya bölelim
#ve x_fit degiskenine atayalim
#simdi bu degerleri X_fite atayip, ve bir boyutlu dizi haline getirelim

#eger bunu 2D yapmak icin
X_fit =x_fit[:,np.newaxis]
X_fit[:5]

#önemli olan nokta bu iki boyutlu numpy arrayi yani dataFrame degil bunun icin head() calismadi
#ben kendim ilk besini görmek icin [:5] ekledim

### veri tipini degistirme

In [ ]:
data['region'] = data['region'].astype('category')

#burda fazla cesit bile olsa icinde categorye ceviriyor

In [ ]:
data = pd.get_dummies(data)
data

#get dummies ile veri seti categorical olanlar 0 ve 1 olarak machinenin anlayacagi dile cevriliyor
#örnegin erkek olan kisinin satirinda cinsiyet_erkek = 1 cinsiyet_kadin = 0 yaziyor
#eger dogu,bati,güney.kuzey kategorileri varsa, herbiri icin olusturuyor, ve güney olan kisinin
#region_güney sütunu 1 region_bati sütunu 0.region_dogu sütunu 0 oluyor

## veri setindeki bosluklari doldurma islemleri

Tahmine dayali deger atama yöntemleri

In [3]:
#pip install missingno

Collecting missingno
  Using cached missingno-0.5.1-py3-none-any.whl (8.7 kB)
Requirement already satisfied: scipy in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from missingno) (1.7.3)
Requirement already satisfied: seaborn in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from missingno) (0.11.2)
Requirement already satisfied: numpy in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from missingno) (1.21.5)
Requirement already satisfied: matplotlib in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from missingno) (3.5.1)
Requirement already satisfied: packaging>=20.0 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->missingno) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->missingno) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->missingno) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->missingno) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->missingno) (4.25.0)
Requirement already satisfied: cycler>=0.10 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: six>=1.5 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Requirement already satisfied: pandas>=0.23 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from seaborn->missingno) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->seaborn->missingno) (2021.3)
Installing collected packages: missingno
Successfully installed missingno-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import seaborn as sns   #titanigi cagirmak icin
import missingno as msno
df = sns.load_dataset('titanic')    #veri seti geldi
df = df.select_dtypes(include = ['float64','int64']) #type int yapti
print(df.head())
df.isnull().sum()   #177 age degeri null

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [12]:
# !pip install ycimpute

Collecting ycimpute
  Using cached ycimpute-0.2-py3-none-any.whl (35 kB)
Requirement already satisfied: numpy>=1.10 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from ycimpute) (1.21.5)
Requirement already satisfied: scipy in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from ycimpute) (1.7.3)
Requirement already satisfied: six in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: scikit-learn>=0.17.1 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from ycimpute) (1.1.2)
Collecting torch>=1.1.0
  Using cached torch-1.12.1-cp39-none-macosx_10_9_x86_64.whl (133.8 MB)
Requirement already satisfied: joblib>=1.0.0 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.17.1->ycimpute) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.17.1->ycimpute) (2.2.0)
Requirement already satisfied: typing-extensions in /Users/veyselaytekin/opt/anaconda3/lib/python3.9/site-packages (from torch>=1.1.0->ycimpute) (4.1.1)
Installing collected packages: torch, ycimpute
Successfully installed torch-1.12.1 ycimpute-0.2
Note: you may need to restart the kernel to use updated packages.

### 1- KNNimput ile

In [3]:
from ycimpute.imputer import knnimput

In [4]:
var_names = list(df)

#knnimput bizden nparray bekliyor,bunun icin önce sütun isimlerini saklamamiz gerekiyor

In [5]:
var_names   #bunu ilerde DataFrame olustururken columns isminde cagiracaz

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

In [13]:
import numpy as np
n_df = np.array(df)  #veriyi nparray'e cevirdik

In [14]:
n_df[0:6]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583]])

In [15]:
type(n_df)

numpy.ndarray

In [27]:
dff = knnimput.KNN(k = 4).complete(n_df) #doldurma islemini yapacak

#4 komsuluk degeri,4 komsuya göre yapiyor

Imputing row 1/891 with 0 missing, elapsed time: 0.111
Imputing row 101/891 with 0 missing, elapsed time: 0.112
Imputing row 201/891 with 0 missing, elapsed time: 0.112
Imputing row 301/891 with 1 missing, elapsed time: 0.113
Imputing row 401/891 with 0 missing, elapsed time: 0.113
Imputing row 501/891 with 0 missing, elapsed time: 0.114
Imputing row 601/891 with 0 missing, elapsed time: 0.115
Imputing row 701/891 with 0 missing, elapsed time: 0.115
Imputing row 801/891 with 0 missing, elapsed time: 0.116

In [28]:
n_df[0:6]   #burda nan görüyorum ama asagida nan'i doldurmus

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583]])

In [29]:
import pandas as pd
df2 = pd.DataFrame(dff,columns = var_names)

In [30]:
df2.head(6)

   survived  pclass     age  sibsp  parch     fare
0       0.0     3.0  22.000    1.0    0.0   7.2500
1       1.0     1.0  38.000    1.0    0.0  71.2833
2       1.0     3.0  26.000    0.0    0.0   7.9250
3       1.0     1.0  35.000    1.0    0.0  53.1000
4       0.0     3.0  35.000    0.0    0.0   8.0500
5       0.0     3.0  39.375    0.0    0.0   8.4583

In [31]:
df2.isnull().sum()   #nan'lar KNN ile yakindaki sayilarla dolduruldu

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

###  2-Random Forest ile nan'lari doldur

In [3]:
import seaborn as sns   #titanigi cagirmak icin
import missingno as msno
df = sns.load_dataset('titanic')    #veri seti geldi
df = df.select_dtypes(include = ['float64','int64']) #type int yapti
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [4]:
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [7]:
df.head(100)

    survived  pclass   age  sibsp  parch     fare
0          0       3  22.0      1      0   7.2500
1          1       1  38.0      1      0  71.2833
2          1       3  26.0      0      0   7.9250
3          1       1  35.0      1      0  53.1000
4          0       3  35.0      0      0   8.0500
..       ...     ...   ...    ...    ...      ...
95         0       3   NaN      0      0   8.0500
96         0       1  71.0      0      0  34.6542
97         1       1  23.0      0      1  63.3583
98         1       2  34.0      0      1  23.0000
99         0       2  34.0      1      0  26.0000

[100 rows x 6 columns]

### veriyi modele hazir hale getirme

In [ ]:
y = data['charges']
X = data.drop('charges' , axis =1) #icinde charge olmayanlari aliyor

#bu sekilde y olanlar bagimli degisken yani sonuclar oldu
#X olanlarda bizim Featureslerimiz oldu

#X bizim charges haric tüm sütunlarimiz ve biz bunu biraz sonra train ve test olarak ikiye bölecegiz
#ve y degiskenimiz ise bizim sonuclarimiz bu veri setinde saglik icin yapilan harcamalar 
#birazdan bunu da ikiye bölecegiz

In [ ]:
#Training veri setiyle(X) model egitilir, ve test veri setiyle(y) test edilir
#veri setini Training ve test diye ayirmak icin  sklearn kütüphanesini kullaniyoruz.
#Bu method ile veriyi istedigimiz oranda bölebiliriz
#bu veri setini karistirarak parcalama yapar

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 1)
#bu sekilde verileri %80 train ve %20 test verileri olarak bölüyorum
#random_state parametresi kullnilan verileri sabitlemek icin kullanilir
#eger bende bu parametreyi kullanirsam, bende hocanin buldugu sonuclarin aynisini bulabilirim

In [ ]:
rng = np.random.RandomState(42)
x = 10*rng.rand(50) 
#x i böyle olusturmustu





X = x[:,np.newaxis]  #newaxis iki boyuta cikariyor array'i
X[:5]  #ilk besini görmek isteedim, bu iki boyutlu array oldugu icin head() olmuyor

#burdaki X ,yukarida 
#rng = np.random.RandomState(42)
#x = 10*rng.rand(50)
#ile kurdugumuz x in 

#bu adimda yukarida olusturdugum  x i->x = 10*rng.rand(50) düzenlemem gerekiyor
#X e esitleyip, x iki nokta yazip, np.new axis yazip bir yapisina bakalim

#burda yukaridakinden farkli olarak her birini köseli parantez icine aldi
# boyut eklemis diyebiliriz
#asagida bir denemeyle sebebini ögrendim,eger x i boyut ekleyip X e dönüstürmezsem, hata veriyor
#ve 2D olan bir veri gir gir diyor
#biz iris le falan calisirken, onlar zaten DataFrame olarak geliyorlar

#ValueError: Expected 2D array, got 1D array instead:

#bu sekilde iki boyutlu features matrisi olusturmus olduk
#bu X te 50 tane örneklem ve bir tane feature var

In [ ]:
model.coef_
#aslinda bu bizim denklemimizin egimi, yani galiba a katsayisidir(coefficient)

#sklearnde modelin attribute'larina alt tire eklenir
array([1.98007544])

In [ ]:
model.intercept_

#modelimizin sabiti ekrana yazildi
-0.7351792394028802

### model kurma asamalari

In [ ]:
#linear regression modeli icin sklearn'deki linear modelden linear regression modelini import edelim


from sklearn.linear_model import LinearRegression 

#galiba bir makina ögrenmesi modeli import ettik

#simdide bu siniftan bir örnek alalim

lr = LinearRegression    #busekilde bu siniftan birer örnek almis oldu

lr.fit(X_train, y_train)   #egitim icin aldigim verileri aliyorum,aslinda bu adimda modeli egitmis olacagiz
                           #fit yapinca egitime geciyoruz

#simdide egitim verilerini kullanarak modeli kuralim,simdide performansina bakalim diyor


#ilginc ama adam modeli kurduk dedi, yani ne demek istedigini halen anlamiyorum(ilk yazdigim not :)

In [ ]:
#yaptigimiz modelin performansini görmek icin, simdide belirleme katsayisini bulalim
#bu deger 1 e nekadar yakinsa model okdar iyidir

In [ ]:
model = LinearRegression(fit_intercept=True)
model

#modeli kurduk
##icerisine fit_intercept argümanina True yazalim .
#intercept true demek y=ax+b dogrusunda b yi etkin almak demektir
#eger fit_intercept=False alirsa, sanki b yokmus gibi y=ax dosrusu cizerdi
#sonra modeli ekrana yazdiralim 
#suan modelle ilgili herhangi bir veri analizi yapmadik
#sadece bir model olusturduk

## Validation islemleri

In [ ]:
lr.score(X_test, y_test).round(3) 

#simdi modelimizin basari oranini görecegiz, bu komut calisinca modelin r_karesi ekrana yaziliyor
#eger modelin r_karesi 0.7 den büyükse model basarili demektir

#aslinda bu bir validation islemidir
#burda sonucu ölcmek icin test veri kümesini kullaniyoruz,
#burda sonuc 0.762 cikti


#burda güzel bir gözlemim oldu eger veri setini %90 olarak ayirirsam, train.score daha yüksek cikti
#ama test.score biraz düstü, demekki test icinde verinin fazla olmasi iyi bisey ama egitilmesi daha
#önemli sanki

#ama ilginc bir sekilde math.sqrt(mean_squared_error(y_test, y_pred)) buda 5956 iken 6565 a yükseldi

In [ ]:
lr.score(X_train, y_train).round(3)

#simdide modelin egitim verileri üzerindeki dogrulugunu görelim
#bu degerde 0.7 den büyük ve test verilerinin r_karesine yakin cikti
#egitim verilerinide baktik
#burda sonuc 0.748 cikti

## Prediction yapiyor

In [ ]:
y_pred = lr.predict(X_test) 

#predict metoduyla input_testleri modele koyuyorum, suan test modellerine göre tahmin yaptk

#simdide modeli degerlendirmek icin bir diger metrik olan hata kareler ortalamasina(mean squared error) bakalim
#bunun icin öncelikle  predict metoduyla test verilerini tahmin edelim

In [ ]:
y_pred

#bu benim elindeki verilere bakarak evlerin fiyatlarini tahmin ettigi degerler
#biraz sonra mean squered error ile bu tahminlerin dogrulugunu kontrol edecegim
#burda cevap olarak  test setimizdeki her bir veri icin bir tahmin verdi, bir sürü sayi yazdi

## mean squred error

In [ ]:
#simdide mean squred error bulacagimiz icin yukarida kütüphanesini import ettim
#mean squered error kullanacagim icin, bir kütüphane daha import ediyorum  import math



#simdide ortalama kareler hatasinin(mean squred error) karekökünü alacagim

In [ ]:
math.sqrt(mean_squared_error(y_test, y_pred))

#sqrt ile karesini aliyorum, ve az önce import ettigim (mean_squared_error) metriginide icine yaziyorum
#cünkü mean squared karelerini aliyor, bende simdi karekökünü alacagim
#burda icine koydugum degiskenler cok öneli 
#ben hata oranini bulacagim icin. test verilerini ele aliyorum 
#y_test yani bizim gercek degerlerimiz, saglik icin yapilan harcamalarin gercek degeri
#y_pred bizim modelimizin yapmis oldugu tahminler
#ve gercekler ile, onun buldugu arasindaki iliskiye bakacagir, kaclik bir standart sapma ile 
#tahmin ettigne bakalim

#5956 lik bir standar hata ile tahmin ediyor

#artik bu asamada istedigimiz veriyi modele vererek tahminler yapabilriz
#galiba artik modelimiz tahmin yapmayi ögrendi, ve nekadar cok veri verirsek o kadar iyi tahminde bulunacak

#cevap bu cikti 5956.454717976427

### burda verimizin ilk satirini kontrol edelim, gercek deger ile kendi tahminine bakalim

In [ ]:
data_new = X_train[:1]
data_new

#biz simdi ilk satiri tahmin ediyorum,önce ilk satirimiza bakalim
#burda ilk satir 216 indexli veri oldu, neden 1ci indexli gelmesi diye düsündüm
#ama galiba adam sklearn kütüphanesiyle. ilgili veriyi karistirarak bölüyor demisti
#bellki ondan dolayi 216 geldi


lr.predict(data_new)


#simdide veriyi tahmin ediyoruz
#veriyi tahmin etmek icin predict methodu kullaniliyor
#new_data bizim birici satirimiza atadim

#tahmini array([10508.41885042])

In [ ]:
y_train[0:1]    #bu da gercek deger ,aslinda gayet güzel tahmin etmis

#gercek cevap 216->10355.641

## Pipeline

In [1]:
# kelime anlami boru hatti demek,bunun ile makine ögrenmesi proje adimlarini  birbirine baglayabiliriz

#yani veri ön islemeden, model kurmaya kadarki  bütün makine ögrenmesi asamalarini birbirine zincirleyebiliriz
#böylece olusturdugumiz pipeline lari hem  baska projeler icin kullanabiliriz, hemde bir hata 
#aldigimizda daha kolay düzeltebiliriz

In [2]:
from sklearn.pipeline import make_pipeline

#simdi bir logistic Regression kurmak icin pipeline kullanalim
#öncelikle pipeline ni import edelim

In [3]:
from sklearn.linear_model import LogisticRegression

#simdide logistic Regressionu import edelim

In [4]:
from sklearn.preprocessing import StandardScaler   

#bunu import etmedigim icin hata aldim cünkü StandardScaler bir kütüphaneden geliyor
#bunu ben asagida bir pipeline kullanarak bir logosticRegression modeli kuracagim 
##icine StandardScaler yazacagim icin import etmeliyim

In [5]:
pipe = make_pipeline(
        StandardScaler(),
        LogisticRegression())

#suan bir pipeline nesnesi olusturalim ,aslinda asagida bu pipe bizim modelimiz olacak
#cünkü pipe.fit() ile modeli egitecegim, icinde LogisticRegression yazdigi icin model oldu
#ve bu nesne icine islem adimlarini yazalim

#pipe diye bir degislen olusturdum, icine make_pipeline fonksiyonunu yaziyorum
#bunun icerisine DataScaling icin Standartscaler yaziyorum
#sonra model kurmak icin LogisticRegression sinifini yaziyorum

#bu sekilde bir boru hatti kurmus olduk

In [6]:
#simdi bu boru hattini kullanmak icin iris veri setini kullanalim
#bu scikitlearn icinde yüklüdür,
#bu veri seti iris cicegini 3 türüne ait ölcümleri icerir

In [7]:
from sklearn.datasets import load_iris

#scikitlearn e yüklü gelen dataset i cagiriyoruz

In [8]:
from sklearn import datasets    

iris = datasets.load_iris()
iris


#ben veri setini görmek istedim hatta pd.DataFrame(iris)
#yapip tablo seklinde görmek istedim ama hata aldim, sütun basina veriler bir boyutlu olmali dedi

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [9]:
X ,y = load_iris(return_X_y=True)
#bununla Xler input(Features) oldu,ve y ler target(output) oldu
#zaten kendisi return_X_y diyerekX(input)ve y(target) diye döndürecegim diyor

#simdi iris veri setindeki girdi ve cikti degiskeneleri olusturalim
#X ve y degiskenlerini yazdiktan sonra load_iris fonksiyonunu yaziyorum
#X ve y girdi ve cikti degiskenlerini döndürmek icin ,return_X_y=True True olarak ayarliyorum
#bu sekilde verideki girdi ve cikti degiskenlerini olusturdum

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)


#makine ögrenmesi analizleri icin veri seti train ve test diye ikiye ayrilir
#bu default olarak veri setini %75 test %25 test olarak ayirir
#simdi veri setimizi ikiye ayiralim
#random_state hocayla ayni degerleri bulmak icin
#bu islemi yukarida veri bölme altinda yaptik ama pipeline islerken yiine lazim oldugu icin bir daha yapiyorum

In [11]:
pipe.fit(X_train, y_train)
#bu asamada olsturdugum pipeline ile iris veri seti arasindaki baglantiyi kuruyorum.

#simdi fit methode ile modeli kuralim
#bunun icin olusturdugum pipeline kullanacagim
#bu modeli kurmak icin yukarida olusturdugum pipeline ni kullaniyorum
#pipe diye olusturdugum degiskenimi yaziyorum ve bu metodun icine egitim verilerini yaziyorum

#bu komutu calistirdigimda islem adimlari ekrana yaziliyor

#alltaki ciktidan sunu anlayabiliriz
#veriler önce Standartsclaer ile ölceklendirildi
#daha sonra logistic regression modeli kuruldu

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [12]:
#simdi test veri seti kullanarak modeli test edelim
#modelin performansini ölcmek icin cesitli metrikler kullanabiliriz,
#biz burada  accuracy score metrigini kullanmak istiyorum

In [14]:
from sklearn.metrics import accuracy_score

#accuracy(akkoriisii) score fonksiyonunu import edelim

In [15]:
accuracy_score(pipe.predict(X_test), y_test)

#accuracy ölcüm yapar, ben icine pipe.predict yazarak test verilerinin tahminlerini ölcmek istiyorum
#(X_test) bunu yazarak test verilerini kurdugumuz modele göre ölcmek istiyorum
#daha sonra gercek degerlerle(y_test) 

#pipe.predict(X_test) icine sadece X_test yazdik, yani X_test verilerini tahmin ediyor
#ve yanina y_test yazarak ikisi arasindaki tahmin basarisini ölcüyor
#bu cikti modelimizi dogruluk scoru,%97 oraninda tahmin yapiyor

0.9736842105263158

## Model Evaluation

In [1]:
#kullandigimiz modeli degerlendirmek icin test seti kullandik
#zaten test seti olusturmak icin train_test_split_ fonksiyonunu kullanmistik
#model degerlendirmek icin sklearnin bir cok araci vardir
#biz burada sklearnin cross_validate(capraz dogrulama) fonksiyonunu kullanacagiz

In [2]:
#biz egitim ve test diye verimizi ayirirken, örnegin %75 train %25 test diye ayiriyoruz, 
#peki neden o yüzde %25 olanlar train'e giremiyorlar, onlarn sucu ne ?
#iste burada cross_validation bu adaletsizlgi ortadan kaldiriyor

In [13]:
from sklearn.datasets  import make_regression

#sklearn icindeki make_regression ile istidegim gibi oyuncak veriler olusturabilirim

#sklearnin dataset modülünden make regression fonksiyonunu import ediyorum
#simdi bu fonksiyonu kullanarak girdi ve cikti degiskenlerini olusturalim

X, y = make_regression(n_samples=1000, random_state=0)

#X ve y degiskenlerimi yazip, make_regression fonksiyonuu yaziyorum
#örneklem sayisi olarak 1000 yaziyorum
#bu sekilde girdi ve cikti degiskenlerini olusturduk
#burda y yani sonuc degiskenimiz sayisal tipte
#sonuc sayisal tipte oldugu icin Linear Regression modeli kurabiliriz



import pandas as pd

In [15]:
X_DataFrame_hali = pd.DataFrame(X)
X_DataFrame_hali


##waaaw ben burda yukaridaki n_sample nin nasil bir veri verdigine bakmak istedim,
#cok büyük bir veri seti veriyormus meger,99 sütunlu ve 100 satirli bisey

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.419297,-1.548930,0.652187,-0.494083,-0.201393,-0.839818,1.724759,1.042198,-0.516023,0.390785,...,-0.184231,0.167096,0.893098,0.288486,0.225738,-1.407032,0.478204,-0.813684,-2.038843,0.900003
1,-2.069472,0.727128,0.097597,-0.891146,-0.482779,0.233355,-1.886981,0.803849,0.077035,-0.952394,...,-0.338259,-1.209114,2.710790,-0.123498,-1.556324,1.229999,-0.875929,-0.359781,-0.745139,-0.550506
2,-0.375960,0.664144,1.022392,1.303181,-1.098289,-1.083427,0.122531,1.094167,-0.711286,-1.426938,...,-0.932570,-0.281575,-1.431798,-0.965954,-0.147637,2.285601,1.710837,0.504815,-2.832012,-0.799786
3,0.317490,0.464113,-0.334165,-0.918614,-1.025451,0.237365,-0.188368,1.123532,0.483046,0.027773,...,0.391121,-0.858193,0.415863,1.083776,0.196285,-0.099130,-0.819252,0.245648,0.408164,0.387600
4,0.509688,-1.270666,0.799706,0.149877,-1.752411,0.914337,1.017711,0.659393,-0.100313,1.043305,...,1.251918,-0.994213,1.383385,-0.987929,-1.489558,0.521859,1.950441,0.081874,-0.711578,0.489642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.891819,0.435541,-0.810227,0.670611,-1.623346,-1.338903,0.255528,-0.605118,0.805729,-0.139326,...,-0.101640,0.072698,0.483091,0.347399,0.702212,-0.565856,-0.997224,2.579235,1.029243,-0.207327
996,-2.789053,-0.557806,1.531156,0.039429,0.746314,0.604961,0.057811,0.585777,-0.814779,-0.555979,...,-0.472787,0.184586,2.457113,-0.913528,0.561651,0.244965,0.286306,1.235200,-0.167529,-0.923800
997,-0.771920,-1.336676,-0.727338,0.526064,0.238853,-0.362950,0.210848,-0.993085,2.014365,0.157832,...,0.912699,-1.127435,0.188963,-0.746948,0.835274,0.687572,-0.471065,-0.598303,-0.609862,1.692430
998,0.671984,-1.507334,1.176222,0.168564,-0.287386,-0.324610,1.537601,0.567301,-0.419512,-0.419253,...,0.367350,-0.106061,-0.224038,-1.761234,0.158606,-1.457594,1.766742,2.059215,-1.111404,0.017875
999,1.103343,-0.595319,-0.298318,-0.450707,-0.956773,1.344417,-0.088448,-0.582038,-0.063962,-1.317637,...,0.045685,0.377932,0.076354,0.650736,0.686663,-0.310990,1.253474,-0.897065,-0.115467,-1.299286

In [16]:
y_DataFrame_hali = pd.DataFrame(y)
y_DataFrame_hali


#y yi de yine bir sütunlu ve 100 satirli verdi, demekkki x in 99 olmasi sebebi, bununla toplam 100 oluyor

              0
0   -204.057963
1   -376.325761
2     23.730193
3    112.558992
4     69.487381
..          ...
995  -60.400713
996  292.442159
997 -275.195873
998  -48.093344
999  337.762690

[1000 rows x 1 columns]

In [17]:
from sklearn.linear_model import LinearRegression

#öncelikle Linear Regression modelini import edelim
#ve Linear Regression sinifini import edelim

In [18]:
lr = LinearRegression()

#simdide bu Linear Regression sinifindan bir  model alalim.

In [19]:
#normalde bu modele lr.fit(X_train, y_train) ile veri setini fit ediyorduk

In [20]:
#ama simdi burda croos_validation teknigi ile yapacagiz
#ama önce bu cross_validate fonksiyonunu  import edelim


from sklearn.model_selection import cross_validate

#simdi bu fonksiyonumuzu kullanarak modelimizi kuralim

In [21]:
result = cross_validate(lr, X, y)

#öncelikle result adli bir degiskene aliyorum
#cross_validate fonksiyonunu cagiriyorum
#bu fonksiyon icine öncelikle madelimizin adini yaziyorum
#daha sonra Girdi ve sonuc degiskelerini yaziyorum,bunlar yukarida olusturulmustu(n_sample yazan yerde)

#cross_validate fonksiyonu veri setini bes parcaya ayirir ve bu parcalara göre islem yapar

In [22]:
result['test_score']


#simdi bu parcalarin test scorelarina bakalim
#burda ayirdigi bes parcaninda model performansi 1 cikti
#kurulan model test verilerini %100 oraninda tahmin etti
#veri seti. basit oldugu icin model harika calisiyor

array([1., 1., 1., 1., 1.])

In [25]:
result_DataFrame_hali = pd.DataFrame(result)
result_DataFrame_hali

#buda bize veridgi resultlarin ne olduklari
#hocanin söyledigi gibi, bes parcaya ayiriyor, ve bu parcalara göre islem yapiyor

   fit_time  score_time  test_score
0  0.007779    0.000757         1.0
1  0.008317    0.000420         1.0
2  0.006406    0.000891         1.0
3  0.007300    0.000622         1.0
4  0.003414    0.000333         1.0

## Automatic Parameter Searches (otomatik parametre secimi)

In [ ]:
#Sklearn deki modellerin bütün parametreleri ile oynayabilirsiniz
#modelin ayarlanabilir parametrelerine hiper parametre denir
#Hiper parametreler ile, model icin egitilen parametreleri birbirine karistirmayin dedi
#iyi bir model kurmak icin Hiper parametre ayari yapmak cok önemlidir

#örnegin random forest regression(aile soy agaci gibi bir agac semasi) tahmincisinin 
#n_estimators diye bir parametresi vardir
#bu parametre ormandaki agac sayisini belirler
#bu parametre degeri modelin performansini cok fazla etkiler
#eger agac sayisini kücük alirsak, iyi bir model elde edemeyiz
#eger agac sayisini fazla alirsan, bu seferde komplex bir model kurariz, ve ezberleme problemi cikar
#bu parametrenin dengeli bir degerini bulmamiz gerekir

In [ ]:
#Random Forest Regression icin diger önemli bir parametre max depth tir.
#bu her bir agacin derinligidir,o aile soy agacinda olan alt agaclar gibi, internette sekli var
#bu degerinde ince ince ayarlanmasi gerekir

#sklearnde en iyi paremetre kombinasyonunu bulmak icin, cesitli araclar sunar

In [ ]:
#simdi Random Forest modelinin en iyi kombinasyonunu bulmak icin ramdom ..... teknigini kullanalim
#bunu göstermek icin California da cesitli degiskenlere göre  California Hausing veri setine bakalim

In [41]:
from sklearn.datasets import fetch_california_housing

#bu veri setini internetten cekelim, ama önce bu fonsiyonu import edelim

In [42]:
X, y = fetch_california_housing(return_X_y=True)

#bu fonsiyonu kullanarak girdi ve sonuc degiskenlerini olusturalim
#x ve ya degiskenlerini yazdiktan sonra fetch california fonksiyonunu cagiriyorum
#girdi ve cikti degiskenlerimi olusturmak icin bunu yapiyorum,asagida dataset in kendisi var

In [56]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
import numpy as np
housing_data = fetch_california_housing()
df = pd.DataFrame(np.c_[housing_data.data, housing_data.target], columns=housing_data.feature_names + ["target"])
df.head()


#internetten buldum veri setini görmek icin, asagida kendim DataFrame cevirdim ama sütun isimlerini 
#göremiyordum

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [57]:
import pandas as pd

In [58]:
X_new = pd.DataFrame(X)
X_new.head()

#bu aslinda hemen yukaridaki tablonun 6 ya kadarki olan kismi

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [55]:
y_new = pd.DataFrame(y)
y_new.head() # bu target mis mesela ,yani sonuclar,

       0
0  4.526
1  3.585
2  3.521
3  3.413
4  3.422

In [ ]:
#yukarida veri setini input ve output olarak ayirmistik, simdide bunlari Train ve test olarak bölelim

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [35]:
from sklearn.model_selection import RandomizedSearchCV

#simdi Random_forest modelindeki en iyi paremetre kombinasyonu icin RandomizedSearcCV teknigini kullaniyorum
#bu teknikte rastgele degerler kullanilir

In [36]:
from scipy.stats import randint

#simdi n_estmatre ve max depth parametleri icin rastgele degerler üretelim
#rastgele degerler üretmek icin Scipy daki Randint fonsiyonunu import edelim
#Randint ile rastgele tamsayilar elde edebiliriz

#n_estmatre agac sayisiydi,max_depth te o agacin derinligiydi
#simdi biz ragtgele degerler üreterek hangi kombinasyonun iyi oldugunu görecegiz

In [43]:
param_distributions = {'n_estimators' : randint(1,5),
                       'max_depth' : randint(5,10)}

#simdi randint fonksiyonunu kullanrak parametlerimiz icin rastgele degerler üretelim
#bunun icin bir dictinary yapisi kullanacagim
#param_distributions yazsiktan sonra süslü parantezleri acip,icine n_estmatre yazdiktan sonra 
#icine 1den 5 e kadar olan rastgele degerler üretmesi icin, randint(1,5) yaziyorum
#daha sonra max depth yazip bunun icinde 5 ile 10 arasinda rastgele degerler
#üretmesi icin randint(5,10) yaziyorum

In [44]:
from sklearn.ensemble import RandomForestRegressor

search = RandomizedSearchCV(
    estimator = 
    #(random_state=0),
    n_iter=5,
    param_distributions = param_distributions,
    random_state=0
    )
#bununla bir RandomizedSearchCV objesi olusturdum ve icine algoritma 

#simdi bir search cv objesi olusturalim,bunun icin search yazdiktan sonra 
#RandomizedSearchCV ve icine estimator yaziyorum,ve icine RandomForestRegressor algoritmasini yaziyorum
#ama bunu import etmeyi unut'mayalim
#daha sonra n_iter argümani icin 5 degerini kullaniyor,n_iter paramaetre sayisini ifade eder
#normalde n_iter default olarak 10 olur
#daha sonra biraz önce olusturdugum distribution degiskenini giriyorum
#ve bunuda param_distribution degiskenine atiyorum ve bununda random state argümanina 0 yaziyorum

In [45]:
search.fit(X_train, y_train)

#simdide egitim verisini bu objeye fit edelim
#search fit yazip daha sonra icine egitim verilerini , ve test verilerini yaziyorum
#bu asamada modeli egitmek istiyorum,
#calistiriyorum, böylece cesitli parametre kombinasyonlarina göre modeller kuruldu

RandomizedSearchCV(estimator=RandomForestRegressor(random_state=0), n_iter=5,
                   param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fb949d0d2e0>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fb95b884d60>},
                   random_state=0)

In [46]:
search.best_params_

##en iyi parametleri görmek icin best_param yöntemini kullanalim
#search yazip best_param_ i yaziyorum
#en iyi model icin parametre degerleri ekrana yazildi
#en iyi model icin maksimum derinlik 9, n_estimators(agac sayisida 4 olarak bulduk)

#searc oblesi normal bir randomForestTahmincisi gibi calisir,cünkü search kurarken yukarda icine 
#RandomForestRegressor yazdik

{'max_depth': 6, 'n_estimators': 4}

In [47]:
search.score(X_test,y_test)

#simdi bu en iyi parametreler ile, test verisi ile modelim performansini görelim

0.7788725979660921

## Preprocessing (veri ön isleme)

### Data Scaling

In [ ]:
#simdi scikitlearn ile veri ön isleme yapalim  kurabiliriz hemde daha hizli model egitebilirim
#veri ölcekleme veri isleme asamalarindan biridir
#verileri ölceklendirmek icin, STANDARTLASTIRMA  ve NORMALLESTIRME gibi cesitli teknikler vardir
#verileri standartlastirmak icin StandardScaler bu kütüphaneyi import edelim

In [ ]:
from sklearn.preprocessing import StandardScaler    #StandartScaler sinifini import edelim

In [ ]:
X = [[0,15,2],
    [1,-10,3]]

In [ ]:
StandardScaler().fit(X).transform(X)

#simdi fit methodu ile parametleri egitelim ve transform methodu ile verileri ölcekleyelim
#burda fit methodu parametreleri egitecek bu egitilen parametlere göre  
#sonra transform methodunu kullanarak X degiskenindeki verileri  ölcekleyecem

#burdan görüyorum ki veriler -1 ve 1 degerlerine dönüstü

array([[-1.,  1., -1.],
       [ 1., -1.,  1.]]) #böyle cikti veriyor

## Veri görsellestirme

In [ ]:
plt.plot(x_fit,y_pred);

#bu kendi linspace ile olusturdugu x_fit ve onun modelden gelen tahmini olan y_pred
# y=ax+b grafigi ciziyor, yani regression

In [ ]:
plt.scatter(x,y)
plt.plot(x_fit,y_pred);


#burda x ve y ler baska veri degerleriyle onlari yukarida rng ile buldu
#ama x_fit'i linspace ile buldu ve x_fit'Linear Regression modeliyle egiterek y_predleri buldu
#burda icinde regression dogrusu bulunan scatter var

# Kendi yorumlarim

In [ ]:
#burda ilk defa bir makine ögrenmesi calismasi yaptim bekledigimden cok kolay geldi bana
#bence bunun sebebi modelin zaten hazir olmasindan dolayiydi,
#biz sadece erimizi bölüp, egittik ve test ettik, o kendisi degerler buldu

#aslinda bununla ilgili ilk izlenimim , güzel bir tahmin yapmasi beni gercekten cok sasirtti,
#demekki bizim verdigimiz veriler arasinda bir iliski bulup, ona göre bir tahminde bulunuyor


#ama galiba benim gömlünde yatan calisma sekli, modelide benim kuracagim, calisma yöntemleri
#oda galiba Derin ögrenme veya sinir aglari konularina giriyor

#ama yinede bu calismayi yapmak benim icin güzel bir deneyim oldu